/* line 5, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
*:focus {
  outline: none !important;
}

/* line 7, ../sass/style.scss */
header {
  height: 128px;
  line-height: 128px;
  background: #cd2c2c;
  color: white;
  padding: 0 10%;
  font-family: "Superclarendon";
}
/* line 15, ../sass/style.scss */
header button {
  height: 54px;
  line-height: 50px;
  width: 219px;
  background: #f66767;
  border: none;
  text-shadow: none;
  font-size: 22px;
  float: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  letter-spacing: 1px;
  position: absolute;
  margin-top: 30px;
  top: 0;
  right: 10%;
}
/* line 32, ../sass/style.scss */
header button:before {
  content: '';
  display: block;
  width: 52px;
  border: 1px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: -19px;
  left: -5px;
}
/* line 42, ../sass/style.scss */
header button:after {
  content: '';
  display: block;
  width: 52px;
  border: 1px solid white;
  transform: rotate(45deg);
  position: absolute;
  top: -19px;
  right: -7px;
}
/* line 54, ../sass/style.scss */
header .title {
  position: relative;
  float: left;
  height: 128px;
}
/* line 59, ../sass/style.scss */
header .title .domain {
  font-size: 45px;
}
/* line 63, ../sass/style.scss */
header .title .description {
  font-size: 30px;
  position: relative;
  top: 30px;
  right: 170px;
}

/* line 73, ../sass/style.scss */
div.main section.top {
  position: relative;
}
/* line 75, ../sass/style.scss */
div.main section.top img {
  width: 100%;
}
/* line 78, ../sass/style.scss */
div.main section.top .login-field {
  padding: 10px;
  text-align: center;
  font-family: "Superclarendon";
  font-size: 21px;
  color: white;
  position: absolute;
  top: 60px;
  right: 12%;
  background: rgba(54, 63, 75, 0.7);
  width: 400px;
}
/* line 90, ../sass/style.scss */
div.main section.top .login-field .title {
  border-bottom: 1px solid white;
  line-height: 50px;
}
/* line 95, ../sass/style.scss */
div.main section.top .login-field .login-info {
  margin: 30px 0 10px 0;
  font-size: 20px;
}
/* line 99, ../sass/style.scss */
div.main section.top .login-field .login-info .selector {
  height: 90px;
}
/* line 102, ../sass/style.scss */
div.main section.top .login-field .login-info .selector label {
  font-weight: 100;
}
/* line 105, ../sass/style.scss */
div.main section.top .login-field .login-info .selector span {
  float: right;
  text-align: left;
  position: relative;
  left: -50px;
}
/* line 110, ../sass/style.scss */
div.main section.top .login-field .login-info .selector span input {
  margin-right: 10px;
}
/* line 116, ../sass/style.scss */
div.main section.top .login-field button {
  font-size: 18px;
  background: #b13132;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  width: 280px;
  font-weight: 100;
  position: relative;
}
/* line 125, ../sass/style.scss */
div.main section.top .login-field button:after {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 32px;
  top: 16px;
  border-right: 2px solid white;
  transform: rotate(45deg);
  border-top: 2px solid white;
}
/* line 138, ../sass/style.scss */
div.main section.top .login-field .share-options {
  text-align: right;
  margin-top: 20px;
  color: dodgerblue;
  cursor: pointer;
}
/* line 147, ../sass/style.scss */
div.main section.bottom {
  text-align: center;
  background: #cd2c2c;
  font-family: "Source Sans Pro";
  color: white;
}
/* line 153, ../sass/style.scss */
div.main section.bottom #workflow {
  width: 80%;
  background: white;
  margin: 30px 0;
  border: 20px solid white;
  border-radius: 12px;
}
/* line 161, ../sass/style.scss */
div.main section.bottom .image-container {
  width: 77%;
  overflow: hidden;
  margin: 0 auto;
}
/* line 166, ../sass/style.scss */
div.main section.bottom .image-container ul li {
  float: left;
  width: 20%;
}
/* line 169, ../sass/style.scss */
div.main section.bottom .image-container ul li img {
  border: 2px solid white;
  width: 100%;
  max-width: 100%;
  transition: transform 1s;
}
/* line 174, ../sass/style.scss */
div.main section.bottom .image-container ul li img:hover {
  transform: scale(1.2);
}
/* line 182, ../sass/style.scss */
div.main section.bottom .love-story {
  overflow: hidden;
  margin: 20px 10% 0 10%;
  padding: 30px 70px;
}
/* line 187, ../sass/style.scss */
div.main section.bottom .love-story .couple {
  position: relative;
  display: inline-block;
  width: 40%;
  float: left;
}
/* line 192, ../sass/style.scss */
div.main section.bottom .love-story .couple span {
  position: absolute;
  left: 0;
  top: 76%;
  z-index: 2;
}
/* line 197, ../sass/style.scss */
div.main section.bottom .love-story .couple span.inner {
  top: 83%;
  left: 15px;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid white;
  display: inline-block;
  font-size: 26px;
  padding: 30px;
  background: #cd2c2c;
}
/* line 209, ../sass/style.scss */
div.main section.bottom .love-story .couple span.outer {
  width: calc(~'50% - 30px');
  height: calc(~'100% + 30px');
  border-radius: calc(~'50% + 30px');
  border: 5px solid white;
  display: inline-block;
  background: #cd2c2c;
}
/* line 218, ../sass/style.scss */
div.main section.bottom .love-story .couple img {
  border: 5px solid white;
  width: 50%;
}
/* line 222, ../sass/style.scss */
div.main section.bottom .love-story .couple img:first-child {
  float: left;
  transform: rotate(-15deg);
}
/* line 227, ../sass/style.scss */
div.main section.bottom .love-story .couple img:last-child {
  float: right;
  transform: rotate(15deg);
}
/* line 233, ../sass/style.scss */
div.main section.bottom .love-story .couple .list-container {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 20px;
  width: 50%;
}
/* line 240, ../sass/style.scss */
div.main section.bottom .love-story .couple .list-container .list {
  width: 100%;
  background: #ef9494;
  margin-bottom: 20px;
  border-radius: 10px;
}
/* line 248, ../sass/style.scss */
div.main section.bottom .love-story .story-wall {
  display: inline-block;
  float: right;
  text-align: left;
  position: relative;
}
/* line 254, ../sass/style.scss */
div.main section.bottom .love-story .story-wall .title {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #ef9494;
  color: white;
  font-size: 20px;
  width: 300px;
  text-align: left;
  padding-left: 35px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 25px;
  margin-left: 20px;
}
/* line 268, ../sass/style.scss */
div.main section.bottom .love-story .story-wall .title:after {
  content: '';
  background: #cd2c2c;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -17px;
  top: 5px;
  transform: rotate(45deg);
}
/* line 281, ../sass/style.scss */
div.main section.bottom .love-story .story-wall p {
  width: 300px;
  margin-left: 20px;
  font-size: 18px;
  max-height: 400px;
  overflow: auto;
}
/* line 288, ../sass/style.scss */
div.main section.bottom .love-story .story-wall .link {
  color: #17cacf;
  text-decoration: underline;
  position: absolute;
  right: 5px;
  bottom: 0;
  cursor: pointer;
}

/* line 301, ../sass/style.scss */
footer {
  background: #84383C;
  height: 250px;
  color: #b9edf3;
  text-align: center;
  font-weight: 200;
}
/* line 308, ../sass/style.scss */
footer ul {
  height: 250px;
  padding: 30px 0 0 0;
  margin: 0;
}
/* line 312, ../sass/style.scss */
footer ul li {
  display: inline-block;
  margin-right: 7%;
  vertical-align: top;
}
/* line 317, ../sass/style.scss */
footer ul li:last-child {
  margin-right: 0;
}
/* line 320, ../sass/style.scss */
footer ul li .title {
  font-size: 25px;
  text-align: left;
}
/* line 323, ../sass/style.scss */
footer ul li .title a {
  color: #b9edf3;
  text-decoration: underline;
}
/* line 328, ../sass/style.scss */
footer ul li .category {
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
}
/* line 332, ../sass/style.scss */
footer ul li .category img {
  width: 80%;
  margin-bottom: 8px;
}
